@font-face {
    font-family: 'iskry';
    src: url('../assets/fonts/Iskry-Regular.ttf');
}

@font-face {
    font-family: 'notto';
    src: url('../assets/fonts/noto.ttf');
}

@font-face {
    font-family: 'test';
    src: url('../assets/fonts/TWK.ttf');
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F1F1F1;
    height: auto;
    width: 100vw;
    --res: calc(0.01 * 10vmin);
}


/* Page
Transition */

.wrapper {
    height: 100vh;
    width: 50vw;
    position: fixed;

    background: #131313;
}

.w1 {
    z-index: 2;
    top: 0;
    right: 0;
    transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.24) ;
}

.w2 {
    top: 0;
    left: 0;
    transition: all 3s cubic-bezier(0.25, 0.46, 0.45, 0.24);
}

.tr-wrap {
    overflow: hidden;
}

.tr-wrap span {
    display: inline-block;
    will-change: transform;
    transform: translateY(100%);
    transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

main {
    width: 100vw;
    height: auto;
    position: relative;
}

/* Barre de */
/* Navigation */

nav {
    height: 10vh;
}

.navbar {
    height: 100%;
    display: flex;
    font-family: notto;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.home-link {
    text-decoration: none;
    color: #131313;
    text-transform: uppercase;

    width: 20%;
    font-size: 19px;
    font-weight: 600;
}

.nav-links {
    width: 20%;
}

.nav-links ul {
    display: flex;
    justify-content: space-between;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: #131313;
}

/* Information */

.information {
    font-family: notto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    text-transform: uppercase;
    font-size: 13px;

    margin: 0 50px;
    height: 30vh;
}

.left, .right {
    display: flex;
    flex-direction: column;
}

.right {
    width: 10%;
}

.right .tr-wrap {
    width: 100%;
}

.right .tr-wrap span {
    width: 100%;
    position: relative;
}

.right .tr-wrap span a {
    text-decoration: none;
    color: #131313;
    width: 100%;
}

.right img {
    position: absolute;
    top: 0;
    right: 0;
}

/* Title */

h1 {
    font-family: iskry;
    font-weight: 200;
    text-transform: uppercase;
    color: #131313;
    margin: 0;
    padding: 0;
    margin-left: 50px;
    height: auto;
    position: relative;
    will-change: transform;
}


h1 :nth-child(1) span {
    font-size: 200px;
}

h1 :nth-child(2) span {
    font-size: 150px;
}

/* 
Cursus
 */

 .cursus-box {
     max-height: 500px;

     width: 100%;
     height: 500px;
     padding: 0 95px;

     display: flex;
     flex-direction: column;
     align-items: center;
}

.cursus:last-child {
    border-bottom: 1px solid rgba(19, 19, 19, 0.3);
}

.cursus {
     width: 100%;
     height: 33.3%;
     display: flex;
     justify-content: space-between;
     font-family: test;
     border-top: 1px solid rgba(19, 19, 19, 0.3);
     transition: 1s;
}

.cursus:hover {
    will-change: transform;
    transform: scale(1.04);
    transition: 1s;
}

.c-years {
     width: 30%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.c-years span {
     font-size: 43px;
     font-weight: 300;
}

.c-diplom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
    min-width: 45%;
}

.c-diplom li {
    min-height: 20px;
    display: flex;
    align-items: center;
}

.c-diplom .list-number li {
    font-size: 10px;
    list-style: none;
}

.c-diplom .list-text {
    margin-left: 2%;
}

.c-diplom .list-text li {
     list-style: none;
     text-transform: uppercase;
     font-size: 15px;

    position: relative;
}

.c-diplom .list-text li a {
    color: #131313;
}

.c-diplom .list-text li a:hover {
    color: #3883a1;
}

h2 {
    font-family: iskry;
    text-transform: uppercase;
    font-size: 114px;
    font-weight: 200;

    width: 100%;
    margin: 15% auto;
    text-align: center;
}

/* Description */

.description {
    margin: auto;
    margin-bottom: 15%;
    width: 65%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.text {
    width: 350px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text p {
    font-family: notto;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 10%;
}

.separator {
    width: 100%;
    height: 1px;
    background: rgba(19, 19, 19, 0.3);
}

/* Project */

.project {
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    position: relative;
}

.project h2 {
    margin: 0;
    font-size: 15px;
    font-family: notto;
    font-weight: 600;
}

.project h2 span {
    position: absolute;
}

.project h2 span:nth-child(1) {
    top: 40px;
    left: 35px;
}

.project h2 span:nth-child(2) {
    top: 40px;
    right: 35px;
}

.project-name {
    font-size: 90px;
    font-weight: 300;
    font-family: iskry;
    text-transform: uppercase;
}

.project-name span {
    position: absolute;
}

.project-name .s1 {
    top: 95px;
    left: 34px;
}

.project-name .s2 {
    bottom: 95px;
    right: 34px;
}

.project-image-box {
    width: 626px;
    height: 417px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.project-image-box img {
    width: 100%;
    object-fit: cover;
}

.slide-number {
    position: absolute;
    bottom: 0;
    left: -90px;
    font-family: iskry;
    font-size: 15px;
}

.slide-number {
    display: flex;
}

.animate-text {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: fit-content;
    min-width: 15px;
}

.animate-text span {
    display: inline-block;
    display: none;
}

.animate-text span.text-in {
    display: inline-block;
    animation: textIn 1.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.animate-text span.text-out {
    animation: textOut 1.2s cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes textIn{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes textOut{
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-100%);
    }
}

.project-description {
    position: absolute;
    top: 0;
    right: -200px;
    font-size: 12px;
    font-family: notto;
    width: 165px;
    text-transform: uppercase;
}

.website-link {
    position: absolute;
    bottom: 15%;
    left: 50%;
    color: #131313;
    font-family: notto;
    text-transform: uppercase;

    transform: translateX(-50%);
}

.webgl
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    outline: none;
}

/* 
RESPONSIVE 
*/

/* Hero section */
@media only screen and (max-width:1200px) {
    
    h1 :nth-child(1) span {
        font-size: calc(150 * var(--res));
    }

    h1 :nth-child(2) span {
        font-size: calc(150/3 * var(--res));
    }
}